 /* ...........carddiversity.......... */
 
 .small-div{
    max-width: 50px;
    box-shadow: 0px 0px 1px #000;
    border-radius: 79px;
    color: #fff;
    position: relative;
    top: 11px;
    left: 14px;
   }
   #div-para{
    position: relative;
    top: -12px;
   }
   #div1{
    color: #fff;
    background-color:rgb(214 27 27 / 93%);
    border-radius: 24px;
    position: relative;
   }
   #div2{
    color: #fff;
    background-color:#9b08f9;
    border-radius: 24px;
    position: relative;
   }
   #div3{
    color: #fff;
    background-color: rgb(97 97 247);
    border-radius: 24px;
    position: relative;
   }
   .inside-div{
   width: 440px;
   height: 177px;
   box-shadow: 0px 0px 10px #000;
   border-radius: 11px;
  
   margin: auto;
   }
   .outer-div{
    width: 81px;
    left: -47px;
    box-shadow: 0px 1px 4px black;
    border-radius: 127px;
    position: relative;
    top: -44px;
    height: 74px;
   }
   .diversity-container {
    max-width: fit-content;
    margin: auto;
    border-radius: 10px;
    border: 25px solid #fff;
    box-shadow: 0px 1px 5px #000;
    min-width: 485px;
    border-top-color: rgb(214 27 27 / 93%);
    margin-top: 4%;
    
   }
   .con2{
    border-top-color:  #9b08f9;;
   }
   .con3{
    border-top-color:  rgb(97 97 247);
   }
   .three{
    margin: auto;
   }