/* .................Emea right img section..............  */
.emea{
    margin-top: 5%;
  }
  #emea-image{
      left: -21px;
      position: relative;
      height: 101%;
      width: 106%;
  }
  #paragraph{
    color: #fff;
    line-height: 1.5;
  
  } 