/* .............EmacCardsMain.css............. */

  .emca-main{
  display: flex;
    justify-content: space-evenly;;
}
.card-emca{
  position: relative;
  margin:1% 0%;
  border: none;
  height: 154px;
  max-width: 100%;
}
.card-img{
  width: 60px;
  position: absolute;
  right: 17px;
  bottom: 54px;
}
.body-emca{
  padding: 1% 5%;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #00000061
} 