/* ...............Emea1 left img section................ */
.emea1{
    margin-top: 5%;
  }
  #emea-img1{
    position: relative;
    height: 100%;
    width: 100%;
    
  }
  #para1{
    line-height: 1.5;
  }