
.box1{
    background-color: #91819f45;
    border-radius: 13px;
    position: relative;
    top: -7px;
  }
  .box2{
    background-color:#a4dcdca1;
    border-radius: 13px;
    position: relative;
    top: -7px;
    margin-top: 14%;
  }
  .header{
    text-align: center;
  }
  .header1{
    
    border-radius: 23px;
    text-align: center;
    color: #fff;
    position: relative;
    top: -19px;
    height: 73px;
  
  } 
  .hr-div2{
    position: relative;
        top: 62px;
        height: 64px;
        box-shadow: 0px 0px 10px;
        width: 101%;
        left: -3px;
        border-radius: 10px;
  }
  /* .hr-div2-one{
    position: relative;
        top: 62px;
        height: 64px;
        box-shadow: 0px 0px 10px;
        width: 101%;
        left: -3px;
        border-radius: 10px;
  } */
  
  @media (min-width: 992px){
   .box2{
    height:450px;
    margin-top: unset;
    }
    .cardsec2-row{
      background-color: #ebebe69c;
    }
    #menu{
      background-color: none;
    }
   
  }
  
  @media (min-width: 768px){
    .box2{
      height:440px;
      margin-top: 5%;
    }
    .box1{
      margin-top: 5%;
      height: 440px;
    }
    .cardsec2-row{
      background-color:#ebebe69c;
    }
    .hr-row{
      position: relative;
        top: 62px;
        height: 64px;
        box-shadow: 0px 0px 10px;
        width: 100%;
        left: 0px;
        border-radius: 9px;
    }
    .hr-div2{
      display: none;
    }
    
   }
  
   .cardsec2-row{
    display: flex;
    flex-wrap: wrap;
    background-color: none;
   }

   @media (max-width: 767px){
    #menu {
      /* max-width: 720px; */
      border: 1px solid;
      border-style: groove;
      box-shadow: 0px 0px 4px black;
      border-radius: 14px;
      height: 443px;
  }
   }

   