/* ..............resource-section.......... */


.resource{
    margin-top: 5%;
  }
  .resource-img1{
    max-width: 700px;
    margin: auto;
    position: relative;
    min-width: 680px;
    height: 365px;
  }
  #resource-card{
    margin: auto;
    width: 80%;
    background-color: aliceblue;
    text-align: center;
    position: relative;
    bottom: 112px;
    border-radius: 10px;
  }
  #resource-card ul{
    padding: 5%;
    list-style-type: none;
  }
  #resource-card ul li{
    padding: 2%;
  }
  .resource-name{
    max-width:fit-content ;
    margin: auto;
    position: absolute  ;
    left: 37%;
    top: 30px;
  }