/* ............card section ............

#cardsize{
  background: linear-gradient(red,blue);
  border-radius: 10px;
  color: #fff;
  height: 143px;
  max-width: 540px;
  position: relative;
  margin: auto;
  display: flex;

}
#one{
  height: 131px;
  width: 144px;
  top: 6px;
  left: 12px;
  position: relative;
}
.content{
  right: -28px;
  top: 7px;
  position: relative;
} */


/* .................Emea right img section..............  */
/* .emea{
  margin-top: 5%;
}
#emea-image{
    left: -21px;
    position: relative;
    height: 101%;
    width: 106%;
}
#paragraph{
  color: #fff;
  line-height: 1.5;

}  */

/* element.style {
}
@media (min-width: 767px){
.container {
    min-width: 540px;
}
} */
/* ...............Emea1 left img section................ */
/* .emea1{
  margin-top: 5%;
}
#emea-img1{
  position: relative;
  height: 100%;
  width: 100%;
  
}
#para1{
  line-height: 1.5;
} */



/* ...............region section.............. */
/* .region top {
  margin-top: 5%;
}
.para{
  text-align: center;
  margin: 28px;
}
.region{
  position: relative;
  width: fit-content;
  margin: auto;
  border: 1px solid #fff;
  margin-top: 73px;
  min-width: 725px;
}
.region::after{
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -5px;
  left: -5px;
  border-top: 9px solid red;
  border-left: 9px solid blue;
}
.region::before{
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-bottom: 9px solid red;
  border-right: 9px  solid blue;
} */

/* ................arc-section............... */


/* #arc{
  min-width: 832px;
  max-width: 100%;
  box-shadow: 0px 0px 3px #000;
  border-radius: 20px;
  position: relative;
  margin-top: 5%;
}
#arc-img{
 position: absolute;
max-width: fit-content;
}
.arc-para{
  max-width: fit-content;
  margin: auto;
  position: absolute;
  top: 134px;
  left: 103px;
  
} */

/* ..............resource-section.......... */

/* 
.resource{
  margin-top: 5%;
}
.resource-img1{
  max-width: 700px;
  margin: auto;
  position: relative;
  min-width: 680px;
  height: 365px;
}
#resource-card{
  margin: auto;
  width: 80%;
  background-color: aliceblue;
  text-align: center;
  position: relative;
  bottom: 112px;
  border-radius: 10px;
}
#resource-card ul{
  padding: 5%;
  list-style-type: none;
}
#resource-card ul li{
  padding: 2%;
}
.resource-name{
  max-width:fit-content ;
  margin: auto;
  position: absolute  ;
  left: 37%;
  top: 30px;
} */



/* ............cardsection2........... */



/* #card2{
  width: 100%;
  margin: 10px;
  box-shadow: 1px 22px 10px rgb(255, 255, 255);
  text-align: center;
  border-radius: 17px;
}
h1{
color: darkviolet;
}
#four{
  width: 58px;
} */

/* .............accordian............... */


/* 
#btn{
  background-color: #983bd1;
}
.accordin-body{
  box-shadow: 0px 0px 7px black;
  border-radius: 10px;
}
.accordin-header-1{
background-color: rgba(255, 0, 0, 0.729);
}
.accordin-header-2{
 background-color: rgba(137, 43, 226, 0.787);
}
.accordin-header-3{
background-color: rgba(0, 0, 255, 0.778);
}
.card-header:first-child {
  border-radius: 10px;
}
.card-link{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-link:hover{
  color: #fff;
}
@media (min-width: 768px){
  
  .last-dic{
    margin: auto;
  }
} 
@media (min-width: 992px){
.last-dic {
  margin: unset;
}

}
@media (min-width: 576px){
  .acc {
   
    margin-top: 5%;
}
} */



/* ..............4 column section.............. */


/* 
.box1{
  background-color: rgba(205, 177, 230, 0.592);
  border-radius: 13px;
  position: relative;
  top: -7px;
}
.box2{
  background-color: rgba(140, 229, 229, 0.635);
  border-radius: 13px;
  position: relative;
  top: -7px;
  margin-top: 14%;
}
.header{
  text-align: center;
}
.header1{
  
  border-radius: 23px;
  text-align: center;
  color: #fff;
  position: relative;
  top: -19px;
  height: 73px;

} 
.hr-div2{
  position: relative;
      top: 62px;
      height: 64px;
      box-shadow: 0px 0px 10px;
      width: 101%;
      left: -7px;
      border-radius: 10px;
}

@media (min-width: 992px){
 .box2{
  height:450px;
  margin-top: unset;
  }
  .cardsec2-row{
    background-color: azure;
  }
  #menu{
    background-color: none;
  }
 
}

@media (min-width: 768px){
  .box2{
    height:440px;
    margin-top: 10%;
  }
  .box1{
    margin-top: 10%;
    height: 440px;
  }
  .cardsec2-row{
    background-color: azure;
  }
  .hr-row{
    position: relative;
      top: 62px;
      height: 64px;
      box-shadow: 0px 0px 10px;
      width: 101%;
      left: -7px;
      border-radius: 10px;
  }
  .hr-div2{
    display: none;
  }
  
 }

 .cardsec2-row{
  display: flex;
  flex-wrap: wrap;
  background-color: none;
 }
  */

 /* ...........carddiversity.......... */


/* 
 .small-div{
  max-width: 50px;
  box-shadow: 0px 0px 1px #000;
  border-radius: 79px;
  color: #fff;
  position: relative;
  top: 11px;
  left: 14px;
 }
 #div-para{
  position: relative;
  top: -12px;
 }
 #div1{
  color: #fff;
  background-color:rgb(214 27 27 / 93%);
  border-radius: 24px;
  position: relative;
 }
 #div2{
  color: #fff;
  background-color:#9b08f9;
  border-radius: 24px;
  position: relative;
 }
 #div3{
  color: #fff;
  background-color: rgb(97 97 247);
  border-radius: 24px;
  position: relative;
 }
 .inside-div{
 width: 440px;
 height: 177px;
 box-shadow: 0px 0px 10px #000;
 border-radius: 11px;

 margin: auto;
 }
 .outer-div{
  width: 81px;
  left: -47px;
  box-shadow: 0px 1px 4px black;
  border-radius: 127px;
  position: relative;
  top: -44px;
  height: 74px;
 }
 .diversity-container {
  max-width: fit-content;
  margin: auto;
  border-radius: 10px;
  border: 25px solid #fff;
  box-shadow: 0px 1px 5px #000;
  min-width: 485px;
  border-top-color: rgb(214 27 27 / 93%);
  margin-top: 4%;
 }
 .con2{
  border-top-color:  #9b08f9;;
 }
 .con3{
  border-top-color:  rgb(97 97 247);
 }
 .three{
  margin: auto;
 } */

/* .............EmacCardsMain.css............. */



 /* .emca-main{
  display: flex;
    justify-content: space-evenly;;
}
.card-emca{
  position: relative;
  margin:1% 0%;
  border: none;
  height: 154px;
  max-width: 100%;
}
.card-img{
  width: 60px;
  position: absolute;
  right: 17px;
  bottom: 54px;
}
.body-emca{
  padding: 1% 5%;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #00000061
} */
